<!-- add fav lib -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container-fluid">
    <div class="card custom-card mb-5" id="visualize-card">
        <!-- Header của card -->
        <div class="card-header bg-white border-0 align-items-center">
            <div class="row aligh-item-center">
                <div class="col-sm-4">
                    <h3 class="card-title
                    ">Statistic</h3>
                </div>
                <div class="col-sm-8 d-flex justify-content-end">
                    <div class="reports-filter">
                        <ul class="list-unstyled d-flex flex-row align-items-center justify-content-center" style="height: 50%;">
                            <li class="me-4 d-none d-sm-block"><i class="fas fa-circle" style="color: #962dff; padding-inline-end: 10px;"></i>Issues</li>
                            <li class="me-4 d-none d-sm-block"><i class="fas fa-circle" style="color: #c893fd; padding-inline-end: 10px;"></i>Testcases</li>
                            <li class="me-4 d-none d-sm-block"><i class="fas fa-circle" style="color: #e0c6fd; padding-inline-end: 10px;"></i>Test runs</li>
                            <li>
                                <select class="form-select form-select-sm ml-2" aria-label=".dropdown-for-months-duration">
                                    <option value="1">Last month</option>
                                    <option value="6">Last 6 months</option>
                                    <option value="12">Last 12 months</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>                                
            </div>
        </div>
        <div class="custom-divider"></div>
        <!-- Nội dung (body) của card -->
        <div class="card-body">
            <div class="container" id="visualizeContainer">
                <svg width="100%" height="100%" viewBox="0 0 1045 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M109.392 232.943H110.625V240.221C110.625 240.871 110.506 241.423 110.267 241.877C110.029 242.331 109.692 242.676 109.258 242.911C108.824 243.146 108.312 243.264 107.722 243.264C107.165 243.264 106.67 243.163 106.235 242.961C105.801 242.755 105.46 242.464 105.211 242.086C104.963 241.708 104.838 241.259 104.838 240.738H106.052C106.052 241.027 106.123 241.279 106.265 241.494C106.411 241.706 106.61 241.872 106.862 241.991C107.114 242.111 107.4 242.17 107.722 242.17C108.077 242.17 108.378 242.096 108.627 241.946C108.875 241.797 109.064 241.579 109.194 241.29C109.326 240.999 109.392 240.642 109.392 240.221V232.943ZM114.354 243.125H113.061L116.8 232.943H118.073L121.811 243.125H120.519L117.476 234.554H117.396L114.354 243.125ZM114.831 239.147H120.041V240.241H114.831V239.147ZM132.311 232.943V243.125H131.118L125.57 235.13H125.47V243.125H124.237V232.943H125.43L130.999 240.957H131.098V232.943H132.311Z" fill="#615E83"></path>
                    <path d="M275.86 243.125V232.943H281.965V234.037H277.093V237.477H281.508V238.571H277.093V243.125H275.86ZM284.917 243.125V232.943H291.062V234.037H286.15V237.477H290.744V238.571H286.15V242.031H291.141V243.125H284.917ZM294.124 243.125V232.943H297.684C298.393 232.943 298.978 233.066 299.439 233.311C299.9 233.553 300.243 233.879 300.468 234.29C300.693 234.698 300.806 235.15 300.806 235.647C300.806 236.085 300.728 236.446 300.572 236.731C300.42 237.016 300.218 237.242 299.966 237.407C299.717 237.573 299.447 237.696 299.155 237.775V237.875C299.467 237.895 299.78 238.004 300.095 238.203C300.41 238.402 300.673 238.687 300.886 239.058C301.098 239.429 301.204 239.883 301.204 240.42C301.204 240.931 301.088 241.39 300.856 241.797C300.624 242.205 300.258 242.528 299.757 242.767C299.257 243.005 298.605 243.125 297.803 243.125H294.124ZM295.357 242.031H297.803C298.609 242.031 299.18 241.875 299.518 241.564C299.86 241.249 300.03 240.868 300.03 240.42C300.03 240.076 299.943 239.757 299.767 239.466C299.591 239.171 299.341 238.935 299.016 238.76C298.691 238.581 298.307 238.491 297.863 238.491H295.357V242.031ZM295.357 237.417H297.644C298.015 237.417 298.35 237.344 298.648 237.199C298.95 237.053 299.189 236.847 299.364 236.582C299.543 236.317 299.633 236.005 299.633 235.647C299.633 235.2 299.477 234.821 299.165 234.509C298.854 234.194 298.36 234.037 297.684 234.037H295.357V237.417Z" fill="#615E83"></path>
                    <path d="M442.679 232.943H444.15L447.611 241.395H447.73L451.19 232.943H452.662V243.125H451.508V235.389H451.409L448.227 243.125H447.113L443.932 235.389H443.832V243.125H442.679V232.943ZM456.391 243.125H455.099L458.837 232.943H460.11L463.849 243.125H462.556L459.514 234.554H459.434L456.391 243.125ZM456.869 239.147H462.079V240.241H456.869V239.147ZM466.275 243.125V232.943H469.715C470.511 232.943 471.164 233.079 471.674 233.351C472.184 233.619 472.562 233.989 472.807 234.459C473.053 234.93 473.175 235.465 473.175 236.065C473.175 236.665 473.053 237.197 472.807 237.661C472.562 238.125 472.186 238.49 471.679 238.755C471.172 239.017 470.524 239.147 469.735 239.147H466.951V238.034H469.695C470.239 238.034 470.676 237.954 471.008 237.795C471.343 237.636 471.584 237.411 471.734 237.119C471.886 236.824 471.962 236.473 471.962 236.065C471.962 235.657 471.886 235.301 471.734 234.996C471.581 234.691 471.338 234.456 471.003 234.29C470.668 234.121 470.226 234.037 469.675 234.037H467.508V243.125H466.275ZM471.067 238.551L473.573 243.125H472.141L469.675 238.551H471.067Z" fill="#615E83"></path>
                    <path d="M614.289 243.125H612.997L616.735 232.943H618.008L621.747 243.125H620.454L617.412 234.554H617.332L614.289 243.125ZM614.767 239.147H619.977V240.241H614.767V239.147ZM624.173 243.125V232.943H627.613C628.412 232.943 629.065 233.087 629.572 233.375C630.082 233.661 630.46 234.047 630.705 234.534C630.951 235.021 631.073 235.565 631.073 236.165C631.073 236.764 630.951 237.31 630.705 237.8C630.463 238.291 630.089 238.682 629.582 238.973C629.075 239.262 628.425 239.406 627.633 239.406H625.167V238.312H627.593C628.14 238.312 628.579 238.218 628.911 238.029C629.242 237.84 629.482 237.585 629.632 237.263C629.784 236.938 629.86 236.572 629.86 236.165C629.86 235.757 629.784 235.392 629.632 235.071C629.482 234.749 629.24 234.497 628.906 234.315C628.571 234.129 628.127 234.037 627.573 234.037H625.406V243.125H624.173ZM633.899 243.125V232.943H637.34C638.135 232.943 638.788 233.079 639.299 233.351C639.809 233.619 640.187 233.989 640.432 234.459C640.677 234.93 640.8 235.465 640.8 236.065C640.8 236.665 640.677 237.197 640.432 237.661C640.187 238.125 639.811 238.49 639.304 238.755C638.796 239.017 638.149 239.147 637.36 239.147H634.576V238.034H637.32C637.863 238.034 638.301 237.954 638.632 237.795C638.967 237.636 639.209 237.411 639.358 237.119C639.511 236.824 639.587 236.473 639.587 236.065C639.587 235.657 639.511 235.301 639.358 234.996C639.206 234.691 638.962 234.456 638.627 234.29C638.293 234.121 637.85 234.037 637.3 234.037H635.132V243.125H633.899ZM638.692 238.551L641.198 243.125H639.766L637.3 238.551H638.692Z" fill="#615E83"></path>
                    <path d="M781.839 232.943H783.311L786.771 241.395H786.89L790.35 232.943H791.822V243.125H790.669V235.389H790.569L787.387 243.125H786.274L783.092 235.389H782.993V243.125H781.839V232.943ZM795.552 243.125H794.259L797.998 232.943H799.271L803.009 243.125H801.717L798.674 234.554H798.594L795.552 243.125ZM796.029 239.147H801.239V240.241H796.029V239.147ZM803.521 232.943H804.933L807.757 237.696H807.876L810.7 232.943H812.112L808.433 238.929V243.125H807.2V238.929L803.521 232.943Z" fill="#615E83"></path>
                    <path d="M955.977 232.943H957.21V240.221C957.21 240.871 957.091 241.423 956.852 241.877C956.614 242.331 956.277 242.676 955.843 242.911C955.409 243.146 954.897 243.264 954.307 243.264C953.75 243.264 953.254 243.163 952.82 242.961C952.386 242.755 952.045 242.464 951.796 242.086C951.548 241.708 951.423 241.259 951.423 240.738H952.636C952.636 241.027 952.708 241.279 952.85 241.494C952.996 241.706 953.195 241.872 953.447 241.991C953.699 242.111 953.985 242.17 954.307 242.17C954.661 242.17 954.963 242.096 955.212 241.946C955.46 241.797 955.649 241.579 955.778 241.29C955.911 240.999 955.977 240.642 955.977 240.221V232.943ZM967.203 232.943H968.436V239.684C968.436 240.38 968.272 241.002 967.944 241.549C967.619 242.092 967.16 242.522 966.567 242.836C965.973 243.148 965.277 243.304 964.478 243.304C963.68 243.304 962.984 243.148 962.39 242.836C961.797 242.522 961.336 242.092 961.008 241.549C960.683 241.002 960.521 240.38 960.521 239.684V232.943H961.754V239.585C961.754 240.082 961.863 240.525 962.082 240.912C962.301 241.297 962.612 241.6 963.017 241.822C963.424 242.041 963.912 242.15 964.478 242.15C965.045 242.15 965.532 242.041 965.94 241.822C966.348 241.6 966.659 241.297 966.875 240.912C967.093 240.525 967.203 240.082 967.203 239.585V232.943ZM979.812 232.943V243.125H978.619L973.07 235.13H972.971V243.125H971.738V232.943H972.931L978.499 240.957H978.599V232.943H979.812Z" fill="#615E83"></path>
                    <path d="M36.5789 227.274C35.7228 227.274 34.9937 227.041 34.3914 226.575C33.7891 226.105 33.3289 225.425 33.0107 224.535C32.6925 223.641 32.5334 222.562 32.5334 221.296C32.5334 220.039 32.6925 218.965 33.0107 218.075C33.3327 217.181 33.7948 216.499 34.3971 216.029C35.0031 215.556 35.7304 215.319 36.5789 215.319C37.4274 215.319 38.1528 215.556 38.755 216.029C39.3611 216.499 39.8232 217.181 40.1414 218.075C40.4634 218.965 40.6243 220.039 40.6243 221.296C40.6243 222.562 40.4653 223.641 40.1471 224.535C39.8289 225.425 39.3687 226.105 38.7664 226.575C38.1641 227.041 37.4349 227.274 36.5789 227.274ZM36.5789 226.024C37.4274 226.024 38.0865 225.615 38.5562 224.796C39.0259 223.978 39.2607 222.812 39.2607 221.296C39.2607 220.289 39.1528 219.431 38.9368 218.723C38.7247 218.014 38.4179 217.474 38.0164 217.103C37.6187 216.732 37.1395 216.546 36.5789 216.546C35.738 216.546 35.0808 216.961 34.6073 217.791C34.1338 218.617 33.8971 219.785 33.8971 221.296C33.8971 222.304 34.0031 223.16 34.2153 223.865C34.4274 224.569 34.7323 225.105 35.13 225.473C35.5315 225.84 36.0145 226.024 36.5789 226.024Z" fill="#615E83"></path>
                    <path d="M36.6834 187.55C36.0167 187.55 35.4163 187.418 34.8822 187.153C34.3481 186.887 33.9201 186.524 33.5981 186.062C33.2762 185.6 33.1 185.073 33.0697 184.482H34.4334C34.4864 185.009 34.725 185.444 35.1493 185.789C35.5773 186.13 36.0887 186.3 36.6834 186.3C37.1606 186.3 37.5849 186.189 37.9561 185.965C38.3311 185.742 38.6246 185.435 38.8368 185.045C39.0527 184.651 39.1606 184.206 39.1606 183.709C39.1606 183.202 39.0489 182.749 38.8254 182.351C38.6057 181.95 38.3027 181.634 37.9163 181.403C37.5299 181.172 37.0887 181.054 36.5924 181.05C36.2364 181.047 35.8709 181.101 35.4959 181.215C35.1209 181.325 34.8121 181.467 34.5697 181.641L33.2515 181.482L33.9561 175.755H40.0015V177.005H35.1379L34.7288 180.437H34.797C35.0356 180.247 35.3349 180.09 35.6947 179.965C36.0546 179.84 36.4296 179.778 36.8197 179.778C37.5318 179.778 38.1663 179.948 38.7231 180.289C39.2837 180.626 39.7231 181.088 40.0413 181.675C40.3633 182.262 40.5243 182.933 40.5243 183.687C40.5243 184.429 40.3576 185.092 40.0243 185.675C39.6947 186.255 39.2402 186.713 38.6606 187.05C38.0811 187.384 37.422 187.55 36.6834 187.55Z" fill="#615E83"></path>
                    <path d="M29.4342 132.88V144.517H28.0251V134.358H27.9569L25.116 136.244V134.812L28.0251 132.88H29.4342ZM36.5763 144.676C35.7202 144.676 34.991 144.443 34.3888 143.977C33.7865 143.507 33.3263 142.827 33.0081 141.937C32.6899 141.043 32.5308 139.964 32.5308 138.699C32.5308 137.441 32.6899 136.367 33.0081 135.477C33.33 134.583 33.7922 133.901 34.3944 133.432C35.0005 132.958 35.7278 132.721 36.5763 132.721C37.4247 132.721 38.1501 132.958 38.7524 133.432C39.3585 133.901 39.8206 134.583 40.1388 135.477C40.4607 136.367 40.6217 137.441 40.6217 138.699C40.6217 139.964 40.4626 141.043 40.1444 141.937C39.8263 142.827 39.366 143.507 38.7638 143.977C38.1615 144.443 37.4323 144.676 36.5763 144.676ZM36.5763 143.426C37.4247 143.426 38.0838 143.017 38.5535 142.199C39.0232 141.38 39.2581 140.214 39.2581 138.699C39.2581 137.691 39.1501 136.833 38.9342 136.125C38.7221 135.416 38.4153 134.877 38.0138 134.505C37.616 134.134 37.1369 133.949 36.5763 133.949C35.7354 133.949 35.0782 134.363 34.6047 135.193C34.1312 136.019 33.8944 137.187 33.8944 138.699C33.8944 139.706 34.0005 140.562 34.2126 141.267C34.4247 141.971 34.7297 142.507 35.1274 142.875C35.5289 143.242 36.0119 143.426 36.5763 143.426Z" fill="#615E83"></path>
                    <path d="M29.7012 90.006V101.642H28.2921V91.4832H28.2239L25.383 93.3696V91.9378L28.2921 90.006H29.7012ZM36.6841 101.801C36.0175 101.801 35.4171 101.669 34.883 101.404C34.3489 101.139 33.9209 100.775 33.5989 100.313C33.2769 99.8507 33.1008 99.3242 33.0705 98.7332H34.4341C34.4871 99.2598 34.7258 99.6954 35.15 100.04C35.5781 100.381 36.0894 100.551 36.6841 100.551C37.1614 100.551 37.5856 100.44 37.9568 100.216C38.3318 99.9927 38.6254 99.6859 38.8375 99.2957C39.0534 98.9018 39.1614 98.4567 39.1614 97.9605C39.1614 97.4529 39.0496 97.0003 38.8262 96.6026C38.6065 96.201 38.3034 95.8848 37.9171 95.6537C37.5307 95.4226 37.0894 95.3052 36.5932 95.3014C36.2371 95.2976 35.8716 95.3526 35.4966 95.4662C35.1216 95.576 34.8129 95.7181 34.5705 95.8923L33.2523 95.7332L33.9568 90.006H40.0023V91.256H35.1387L34.7296 94.6878H34.7978C35.0364 94.4984 35.3356 94.3412 35.6955 94.2162C36.0553 94.0912 36.4303 94.0287 36.8205 94.0287C37.5326 94.0287 38.1671 94.1992 38.7239 94.5401C39.2845 94.8772 39.7239 95.3393 40.0421 95.9264C40.364 96.5135 40.525 97.184 40.525 97.9378C40.525 98.6802 40.3584 99.3431 40.025 99.9264C39.6955 100.506 39.2409 100.964 38.6614 101.301C38.0818 101.635 37.4228 101.801 36.6841 101.801Z" fill="#615E83"></path>
                    <path d="M23.0946 58.7678V57.7451L26.9355 53.5405C27.3863 53.0481 27.7575 52.6201 28.0492 52.2565C28.3408 51.889 28.5568 51.5443 28.6969 51.2224C28.8408 50.8966 28.9128 50.5557 28.9128 50.1996C28.9128 49.7905 28.8143 49.4364 28.6174 49.1371C28.4242 48.8379 28.159 48.6068 27.8219 48.444C27.4848 48.2811 27.106 48.1996 26.6855 48.1996C26.2386 48.1996 25.8484 48.2924 25.5151 48.478C25.1855 48.6599 24.9299 48.9155 24.748 49.2451C24.57 49.5746 24.481 49.961 24.481 50.4042H23.1401C23.1401 49.7224 23.2973 49.1239 23.6117 48.6087C23.9261 48.0936 24.3541 47.6921 24.8958 47.4042C25.4412 47.1163 26.053 46.9724 26.731 46.9724C27.4128 46.9724 28.017 47.1163 28.5435 47.4042C29.07 47.6921 29.4829 48.0803 29.7821 48.569C30.0814 49.0576 30.231 49.6012 30.231 50.1996C30.231 50.6277 30.1533 51.0462 29.998 51.4553C29.8465 51.8606 29.5814 52.3133 29.2026 52.8133C28.8276 53.3095 28.3067 53.9155 27.6401 54.6315L25.0264 57.4269V57.5178H30.4355V58.7678H23.0946ZM36.5776 58.9269C35.7215 58.9269 34.9924 58.694 34.3901 58.228C33.7878 57.7584 33.3276 57.0784 33.0094 56.1883C32.6912 55.2943 32.5321 54.2148 32.5321 52.9496C32.5321 51.6921 32.6912 50.6182 33.0094 49.728C33.3314 48.8341 33.7935 48.1523 34.3958 47.6826C35.0018 47.2091 35.7291 46.9724 36.5776 46.9724C37.4261 46.9724 38.1514 47.2091 38.7537 47.6826C39.3598 48.1523 39.8219 48.8341 40.1401 49.728C40.4621 50.6182 40.623 51.6921 40.623 52.9496C40.623 54.2148 40.4639 55.2943 40.1458 56.1883C39.8276 57.0784 39.3674 57.7584 38.7651 58.228C38.1628 58.694 37.4336 58.9269 36.5776 58.9269ZM36.5776 57.6769C37.4261 57.6769 38.0852 57.2678 38.5549 56.4496C39.0246 55.6315 39.2594 54.4648 39.2594 52.9496C39.2594 51.9421 39.1514 51.0841 38.9355 50.3758C38.7234 49.6674 38.4166 49.1277 38.0151 48.7565C37.6174 48.3852 37.1382 48.1996 36.5776 48.1996C35.7367 48.1996 35.0795 48.6144 34.606 49.444C34.1325 50.2697 33.8958 51.4383 33.8958 52.9496C33.8958 53.9572 34.0018 54.8133 34.2139 55.5178C34.4261 56.2224 34.731 56.7584 35.1287 57.1258C35.5302 57.4932 36.0132 57.6769 36.5776 57.6769Z" fill="#615E83"></path>
                    <path d="M23.3597 15.8934V14.8707L27.2006 10.6662C27.6514 10.1737 28.0226 9.7457 28.3143 9.38207C28.606 9.01464 28.8219 8.66995 28.962 8.34798C29.106 8.02222 29.1779 7.68131 29.1779 7.32525C29.1779 6.91616 29.0794 6.56199 28.8825 6.26275C28.6893 5.96351 28.4241 5.73245 28.087 5.56957C27.7499 5.40669 27.3711 5.32525 26.9506 5.32525C26.5037 5.32525 26.1135 5.41805 25.7802 5.60366C25.4506 5.78548 25.195 6.04116 25.0131 6.3707C24.8351 6.70025 24.7461 7.08661 24.7461 7.5298H23.4052C23.4052 6.84798 23.5624 6.24949 23.8768 5.73434C24.1912 5.21919 24.6192 4.81767 25.1609 4.5298C25.7063 4.24192 26.3181 4.09798 26.9961 4.09798C27.6779 4.09798 28.2821 4.24192 28.8086 4.5298C29.3351 4.81767 29.748 5.20593 30.0472 5.69457C30.3465 6.18321 30.4961 6.72677 30.4961 7.32525C30.4961 7.75328 30.4185 8.17184 30.2632 8.58093C30.1116 8.98624 29.8465 9.43889 29.4677 9.93889C29.0927 10.4351 28.5719 11.0412 27.9052 11.7571L25.2916 14.5525V14.6434H30.7007V15.8934H23.3597ZM36.6836 16.0525C36.0169 16.0525 35.4166 15.9199 34.8825 15.6548C34.3484 15.3896 33.9203 15.026 33.5984 14.5639C33.2764 14.1018 33.1003 13.5753 33.07 12.9843H34.4336C34.4866 13.5109 34.7253 13.9465 35.1495 14.2912C35.5775 14.6321 36.0889 14.8025 36.6836 14.8025C37.1609 14.8025 37.5851 14.6908 37.9563 14.4673C38.3313 14.2438 38.6249 13.937 38.837 13.5468C39.0529 13.1529 39.1609 12.7078 39.1609 12.2116C39.1609 11.704 39.0491 11.2514 38.8257 10.8537C38.606 10.4521 38.3029 10.1359 37.9166 9.9048C37.5302 9.67374 37.0889 9.55631 36.5927 9.55252C36.2366 9.54874 35.8711 9.60366 35.4961 9.7173C35.1211 9.82714 34.8124 9.96919 34.57 10.1434L33.2518 9.98434L33.9563 4.25707H40.0018V5.50707H35.1381L34.7291 8.93889H34.7972C35.0359 8.74949 35.3351 8.5923 35.695 8.4673C36.0548 8.3423 36.4298 8.2798 36.82 8.2798C37.5321 8.2798 38.1666 8.45025 38.7234 8.79116C39.284 9.12828 39.7234 9.5904 40.0416 10.1775C40.3635 10.7646 40.5245 11.4351 40.5245 12.1889C40.5245 12.9313 40.3578 13.5942 40.0245 14.1775C39.695 14.7571 39.2404 15.2154 38.6609 15.5525C38.0813 15.8859 37.4222 16.0525 36.6836 16.0525Z" fill="#615E83"></path>
                    <line x1="59.3867" y1="177.423" x2="1044.01" y2="177.423" stroke="#E5E5EF" stroke-width="1.5" stroke-linecap="round" stroke-dasharray="4 7"></line>
                    <line x1="59.3906" y1="134.549" x2="1044.02" y2="134.549" stroke="#E5E5EF" stroke-width="1.5" stroke-linecap="round" stroke-dasharray="4 7"></line>
                    <line x1="59.3906" y1="91.6742" x2="1044.02" y2="91.6742" stroke="#E5E5EF" stroke-width="1.5" stroke-linecap="round" stroke-dasharray="4 7"></line>
                    <line x1="59.3965" y1="48.7997" x2="1044.02" y2="48.7997" stroke="#E5E5EF" stroke-width="1.5" stroke-linecap="round" stroke-dasharray="4 7"></line>
                    <line x1="59.3867" y1="5.92529" x2="1044.01" y2="5.92529" stroke="#E5E5EF" stroke-width="1.5" stroke-linecap="round" stroke-dasharray="4 7"></line>
                    <line x1="1044.77" y1="222.251" x2="58.6345" y2="222.251" stroke="#9291A5"></line>
                    <line x1="59.1328" y1="6.67529" x2="59.1328" y2="221.751" stroke="#9291A5"></line>
                    <rect x="76.2578" y="187.179" width="85.2874" height="34.5722" fill="#962DFF"></rect>
                    <rect x="76.2578" y="169.893" width="85.2874" height="17.2861" fill="#C893FD"></rect>
                    <rect x="76.2578" y="155.934" width="85.2874" height="13.9589" fill="#E0C6FD"></rect>
                    <path d="M76.2578 155.934C76.2578 151.103 80.1738 147.188 85.0044 147.188H152.799C157.629 147.188 161.545 151.103 161.545 155.934H76.2578Z" fill="#F0E5FC"></path>
                    <rect x="245.666" y="163.721" width="85.2874" height="58.0302" fill="#962DFF"></rect>
                    <rect x="245.666" y="135.536" width="85.2874" height="28.1851" fill="#C893FD"></rect>
                    <rect x="245.666" y="103.581" width="85.2874" height="31.9543" fill="#E0C6FD"></rect>
                    <path d="M245.666 98.1638C245.666 92.641 250.143 88.1638 255.666 88.1638H320.953C326.476 88.1638 330.953 92.641 330.953 98.1638V103.582H245.666V98.1638Z" fill="#F0E5FC"></path>
                    <rect x="415.076" y="146.845" width="85.2874" height="74.9059" fill="#962DFF"></rect>
                    <rect x="415.076" y="112.069" width="85.2874" height="34.7763" fill="#C893FD"></rect>
                    <rect x="415.076" y="72.9261" width="85.2874" height="39.1431" fill="#E0C6FD"></rect>
                    <path d="M415.076 61.7022C415.076 56.1793 419.553 51.7021 425.076 51.7021H490.364C495.886 51.7021 500.364 56.1793 500.364 61.7022V72.926H415.076V61.7022Z" fill="#F0E5FC"></path>
                    <rect x="584.486" y="134.663" width="85.2874" height="87.0885" fill="#962DFF"></rect>
                    <rect x="584.486" y="90.2241" width="85.2874" height="44.4385" fill="#C893FD"></rect>
                    <rect x="584.486" y="41.4187" width="85.2874" height="48.8052" fill="#E0C6FD"></rect>
                    <path d="M584.486 30.195C584.486 24.6721 588.963 20.1949 594.486 20.1949H659.774C665.297 20.1949 669.774 24.6721 669.774 30.1949V41.4188H584.486V30.195Z" fill="#F0E5FC"></path>
                    <rect x="753.896" y="126.055" width="85.2874" height="95.6958" fill="#962DFF"></rect>
                    <rect x="753.896" y="79.4979" width="85.2874" height="46.5573" fill="#C893FD"></rect>
                    <rect x="753.896" y="30.6929" width="85.2874" height="48.8052" fill="#E0C6FD"></rect>
                    <path d="M753.896 15.7708C753.896 10.2479 758.374 5.77075 763.896 5.77075H829.184C834.707 5.77075 839.184 10.2479 839.184 15.7708V30.6927H753.896V15.7708Z" fill="#F0E5FC"></path>
                    <rect x="923.303" y="143.28" width="85.2874" height="78.4709" fill="#962DFF"></rect>
                    <rect x="923.303" y="105.471" width="85.2874" height="37.8093" fill="#C893FD"></rect>
                    <rect x="923.303" y="65.9814" width="85.2874" height="39.4894" fill="#E0C6FD"></rect>
                    <path d="M923.303 54.8401C923.303 49.3172 927.78 44.8401 933.303 44.8401H998.59C1004.11 44.8401 1008.59 49.3172 1008.59 54.8401V65.9815H923.303V54.8401Z" fill="#F0E5FC"></path>
                    </svg>
                </div>
        </div>
    </div>

    <div class="card custom-card" id="report-card">
        <!-- Header của card -->
        <div class="card-header bg-white border-0 align-items-center">
            <div class="row aligh-item-center">
                <div class="col-sm-4">
                    <h3 class="card-title
                    ">Report Type</h3>
                </div>
                <ul class="col d-flex justify-content-end">
                    <li>
                        <select class="form-select form-select-sm ml-2" aria-label=".dropdown-for-months-duration">
                            <option value="1">ALL</option>
                            <option value="1">Bugs</option>
                            <option value="6">Issues</option>
                            <option value="12">Testcase</option>
                        </select>
                    </li>
                </ul>                              
            </div>
        </div>
        <div class="custom-divider"></div>
        <!-- Nội dung (body) của card -->
        <div class="card-body">
            <div class="container-fluid" id="reportContainer">
                <div class="row row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-sm-1" id="reportRow">
                <div class="row mb-4"><div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <h5><i class="fas fa-exclamation-circle" style="padding-right: 10px"></i>Issue</h5>
                </div><div class="col-md-8 col-lg-8 col-xl-8 col-sm-12">
                <p>This is the home page report</p>
                <p style="font-weight: 400; font-size: 0.95rem">By <i>John Doe</i> on Oct 10, 2022 10:00</p></div></div><div class="row mb-4"><div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <h5><i class="fas fa-exclamation-circle" style="padding-right: 10px"></i>Issue</h5>
                </div><div class="col-md-8 col-lg-8 col-xl-8 col-sm-12">
                <p>This is the home page report</p>
                <p style="font-weight: 400; font-size: 0.95rem">By <i>John Doe</i> on Oct 10, 2022 10:00</p></div></div><div class="row mb-4"><div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <h5><i class="fas fa-clone" style="padding-right: 10px"></i>Testcase</h5>
                </div><div class="col-md-8 col-lg-8 col-xl-8 col-sm-12">
                <p>Vertify Sign Up Button</p>
                <p style="font-weight: 400; font-size: 0.95rem">By <i>John Doe</i> on Oct 10, 2022 10:00</p></div></div></div>
                </div>
        </div>
    </div>
</div>

{{!-- Additional button in view --}}

{{#block "additional-button"}}
<div class="text-right">
    <button type="button" class="btn btn-light-blue me-2 mb-2">
        <!-- add svg icon -->
        <i class="fas fa-share-alt"></i>&nbsp;&nbsp;
        Share Report
    </button> 
    <button type="button" class="btn btn-light-green me-2 mb-2">
        <i class="fas fa-upload"></i>&nbsp;&nbsp;
        Export
    </button>                          
</div>
{{/block}}